.sales-by-store-container {
  height: 420px;
  padding-left: 40px;
}

.sales-by-store-data {
  height: 100%;
  display: flex;
  align-items: center;
}

.sales-by-store-quantity-container {
  width: 100%;
}

.sales-by-store-quantity {
  font-size: 36px;
  color: var(--light-color);
}

.sales-by-store-quantity-label {
  font-size: 18px;
  display: block;
  color: var(--grey-light-color);
}

.sales-by-store-chart {
  height: 360px;
  width: 100%;
  margin-top: 10px;
}

.pie-chart-card {
  width: 100%;
}
