.sales-by-store-container {
  height: 520px;
  border: 1px solid blue;
}

.sales-by-store-data {
  height: 100%;
}

.sales-by-store-quantity-container {
  margin-top: 40px;
  margin-left: 15px;
  width: 90%;
  border: 1px solid black;
}

.sales-by-store-quantity {
  font-size: 36px;
  color: var(--light-color);
}

.sales-by-store-quantity-label {
  font-size: 18px;
  color: var(--grey-light-color);
}

.sales-by-store-chart {
  height: 360px;
  margin-top: 50px;
  border: 1px solid green;
}
